<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPQzlHhTMlZChWiP0gD9C6vjQ7AnHO29A</string>
	<key>GCM_SENDER_ID</key>
	<string>953742678972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtuallights.info</string>
	<key>PROJECT_ID</key>
	<string>virtuallights-1b8db</string>
	<key>STORAGE_BUCKET</key>
	<string>virtuallights-1b8db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953742678972:ios:c88ceea246f1c2d35ea9b9</string>
</dict>
</plist>